@import "src/theme/variables";

.main-section {
  position: relative;
  display: block;
  z-index: 10;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.header-area {
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 13px 15px;
  box-sizing: border-box;
  z-index: 200;

  .header-main {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 25px;

    .navbar-toggle {
      display: none;

      i {
        color: rgb(198 144 22 / 77%);
        font-size: 30px;
      }
    }
  }
  .logo-area {
    display: block;
    margin-left: 20px;
    img {
      padding: 29px 0px;
      max-width: 200px;
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }
  .menu-area {
    display: block;
    width: 100%;

    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      text-align: center;

      li {
        display: inline-block;
        margin-right: 20px;
        padding: 0 10px;
        a {
          position: relative;
          display: block;
          text-align: center;
          font-size: 16px;
          line-height: 30px;
          font-weight: 600;
          text-transform: uppercase;
          color: #fff;
          padding: 3px 0px;
          opacity: 1;
          -webkit-transition: all 300ms ease;
          -o-transition: all 300ms ease;
          transition: all 300ms ease;

          &a:hover {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  .tel {
    display: block;
    max-width: 210px;
    text-align: center;
    width: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0px 15px;
    a {
      position: relative;
      display: block;
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      padding: 3px 0px;
      opacity: 1;
      -webkit-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      i {
        color: var(--color-primary);
        font-size: 17px;
        position: relative;
        top: -1px;
        margin: 0 10px;
      }
    }
  }

  .tel a i {
    color: var(--color-primary);
    font-size: 17px;
    position: relative;
    top: -1px;
  }
  .tel a:hover {
    color: rgba(175, 147, 53, 0.993);
  }
}

.toggle-menu {
  background-color: #212529;
  color:rgba(175, 147, 53, 0.993) ;
  height: 100vh;

  .toggle-row {
    .toggle-top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .toggle-logo {
        margin-top: 20px;

        a {
          img {
            max-height: 75px;
          }
        }
      }

      .toggle-icon {
        text-align: end;
        margin-top: 30px;

        i {
          font-size: 43px;
        }
      }
    }

    .toggle-middle {
      margin-top: 60px;

      .toggle-menu {
        li {
          margin-top: 25px;

          a {
            cursor: pointer;
            font-family: "Poppins", serif;
            font-weight: 700;
            font-size: 22px;
            color: rgba(175, 147, 53, 0.993);
            transition: all 0.5s ease;

            &:hover {
              color: #532c04;
            }
          }
        }
      }
    }

  

    .nav-search {
      position: relative;

      a {
        color: #151515;
        width: 60px;
        height: 60px;
        display: block;
        border-radius: 48px;
        background-clip: border-box;
        right: 5px;
        top: 5px;
        text-align: center;
        line-height: 60px;
        font-size: 20px;
        transition: all 0.2s ease;
        position: absolute;
      }

      input {
        width: 100%;
        display: block;
        font-size: 18px;
        height: 70px;
        line-height: 70px;
        padding-right: 80px;
        padding-left: 20px;
        border-radius: 48px;
        background-clip: border-box;
        color: #000;
        border: 1px solid rgba(0, 0, 0, 0.25);
        font-family: "Poppins", serif;
        font-weight: 700;
      }
    }
  }
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.image-swiper {
  position: relative;

  img {
    width: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 101;
  }

  .text-swipper {
    max-width: 900px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;

    h1 {
      position: relative;
      text-align: center;
      font-size: 66px;
      text-transform: capitalize;
      opacity: 1;
      margin-bottom: 30px;
      font-family: "Work Sans", sans-serif;
      display: block;
      line-height: 65px;
      color: #fff;
      font-weight: 500;
      margin-bottom: 15px;
      padding-top: 20px;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        position: relative;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        font-family: "Work Sans", sans-serif;
        text-transform: uppercase;
        a {
          border: 1px solid;
          padding: 5px;
          margin-right: 10px;
          border-color: #ccad6e;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .header-area {
    .header-main {
      display: flex;
      align-content: center;
      justify-content: space-between;
      gap: 0;
    }
    .logo-area {
      display: block;
      margin-left: 15px;

      img {
        padding: 10px 0px;
        max-width: 150px;
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
    .menu-area {
      ul {
        display: flex;
        justify-content: flex-end;
        li {
          display: inline-block;
          margin-right: 10px;
          padding: 0 5px;
        }
      }
    }
    .tel {
      display: none;
    }
  }
  .image-swiper {
    position: relative;
    img {
      width: 100%;
      height: 1000px;
    }

    .text-swipper {
      max-width: 800px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 110;
      h1 {
        text-align: center;
        font-size: 48px;
        line-height: 70px;
        color: #ffffff;
        font-weight: 500;
        text-transform: capitalize;
        opacity: 1;
        margin-bottom: 10px;
      }
    }
  }
}
@media (max-width: 800px) {
  .header-area {
    display: block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 13px 15px;
    box-sizing: border-box;
    z-index: 200;

    .header-main {
      display: flex;
      align-content: center;
      justify-content: space-between;
      gap: 25px;
      .navbar-toggle {
        display: block;
      }
    }
    .logo-area {
      display: block;
      margin-left: 10px;

      img {
        padding: 10px 0px;
        max-width: 150px;
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }

    .header-right {
      display: none;
    }
  }
  .image-swiper {
    position: relative;

    img {
      width: 100%;
      height: 755px;
    }

    .text-swipper {
      max-width: 600px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 110;
      h1 {
        line-height: 1;
        text-align: center;
        font-size: 32px;
        line-height: 70px;
        color: #ffffff;
        font-weight: 500;
        text-transform: capitalize;
        opacity: 1;
        margin-bottom: 0px;
      }
 
    }
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: "next";
    display: none;
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    display: none;
    content: "prev";
  }
}
@media (max-width: 600px) {
  .header-area {
    display: block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 13px 15px;
    box-sizing: border-box;
    z-index: 200;

    .header-main {
      display: flex;
      align-content: center;
      justify-content: space-between;
      gap: 25px;
    }
    .logo-area {
      display: block;
      margin-left: 5px;
      img {
        padding: 0px 0px;
        max-width: 150px;
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }

    .header-right {
      display: none;
    }
  }
  .image-swiper {
    position: relative;

    img {
      width: 100%;
      height: 350px;
    }

    .text-swipper {
      padding: 30px 0;
      max-width: 600px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 110;
      h1 {
        line-height: 1;
        text-align: center;
        font-size: 32px;
        line-height: 1.2;
        color: #ffffff;
        font-weight: 500;
        text-transform: capitalize;
        opacity: 1;
        padding-bottom: 20px;
      }
   
    }
  }
}
