<div class="footer-container">
  <div class="container">
    <div class="grid-item">
      <div class="grid-item-first">
        <h3 class="widget-title">About intervio</h3>
        <hr />
        <div class="text">
          Beyond more stoic this along goodness this sed wow manatee mongos
          flusterd impressive man farcrud opened inside owin punitively around
          after.
        </div>
        <div class="social-links">
          <ul>
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="grid-item-second">
        <h3 class="widget-title">What we do</h3>
        <hr />
        <div class="widget-content">
          <ul>
            <li><a href="architecture.html">Architecture Design</a></li>
            <li><a href="lighting.html">Home Lighting</a></li>
            <li><a href="landscape-design.html">Landscape Design</a></li>
            <li><a href="floor-planning.html">Floor Planning</a></li>
            <li><a href="interior.html">Interior Design</a></li>
            <li><a href="exterior.html">Exterior Works</a></li>
          </ul>
        </div>
      </div>

      <div class="grid-item-third">
        <h3 class="widget-title">contact us</h3>
        <hr />
        <div class="widget-content">
          <ul>
            <li>
              address: <br />
              63 Nelson Base, Florida
            </li>
            <li>
              Phone: <br /><a href="tel:+1(234)5018607">+1 (234) 501 8607</a>
            </li>
            <li>
              Email: <br /><a href="mailto:info@intervio.net"
                >info@intervio.net</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="grid-item-four">
        <h3 class="widget-title">Gallery</h3>
        <hr />

        <div class="wrapper-box">
          <div class="image">
            <img
              src="../../../../assets/images/static/image-1 (1).jpg"
              alt=""
            />
            <div class="overlay-link">
              <a href="../../../../assets/images/static/image-1 (1).jpg">
                <span class="fa fa-plus"></span
              ></a>
            </div>
          </div>
          <div class="image">
            <img
              src="../../../../assets/images/static/image-2 (1).jpg"
              alt=""
            />
            <div class="overlay-link">
              <a href="../../../../assets/images/static/image-2 (1).jpg"
                ><span class="fa fa-plus"></span
              ></a>
            </div>
          </div>
          <div class="image">
            <img
              src="../../../../assets/images/static/image-3 (1).jpg"
              alt=""
            />
            <div class="overlay-link">
              <a href="../../../../assets/images/static/image-3 (1).jpg"
                ><span class="fa fa-plus"></span
              ></a>
            </div>
          </div>
          <div class="image">
            <img src="../../../../assets/images/static/image-4.jpg" alt="" />
            <div class="overlay-link">
              <a href="../../../../assets/images/static/image-4.jpg"
                ><span class="fa fa-plus"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-footer">
      <div class="copyright">
        <a href="#">INTERVIO</a> - Design &amp; Architect (c) All rights
        reserved.
      </div>
    </div>
  </div>
</div>
