@import "../../../theme/exports/section-about-header-banner";
@import "../../../theme/exports/section-about-us";
@import "../../../theme/exports/section-about-funfiction";
@import "../../../theme/exports/section-about-team";

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100%;
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 11;
    margin: 75px auto;
    .big-hr {
      background-color: #ccad6e;
      border: 1px solid #ccad6e;
      max-width: 100px;
      height: 3px;
      width: 100px;
      text-align: center;
      transform: rotate(90deg);
    }
    hr {
      background-color: #ccad6e;
      border: 1px solid #ccad6e;
      max-width: 30px;
      width: 30px;
      text-align: center;
      transform: rotate(90deg);
    }
  }
