@import "src/theme/fonts";
@import'src/theme/variables';


/**** reset code ****/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
a {
  display: block;
  text-decoration: none;
}
p {
  margin: 0 !important;
}
ul {
  list-style: none;
}
.container {
  display: block;
  max-width: 1350px;
  width:100%;
  margin: auto;
}
@media(max-width:1230px){
  .container{
    max-width: 970px;
  }
}
@media(max-width:1000px){
  .container{
    max-width: 750px;
  }
}
@media(max-width:750px){
  .container{
    max-width: 600px;
  }
}
@media(max-width:600px){
  .container{
    max-width: 350px;
  }
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/**** defualt code  ****/
.title {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.title h3 {
  font-size: 32px;
  line-height: 44px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-style: normal;
  font-family: var(--open-sans);
  margin: 0;
}
.title h3 span {
  color: #f06425;
  display: inline-block;
}
.title a {
  color: #f06425;
  font-family: var(--open-sans);
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 500px) {
  .title h3 {
    font-size: 28px !important;
    line-height: 34px;
  }
  .title {
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .title h3 {
    font-size: 23px !important;
    line-height: 30px;
  }
}

/* =Global notification
----------------------------------------------------------------------------- */
snack-bar-container {
  &.success-new {
    background: rgb(20, 190, 51);
    background: linear-gradient(90deg, rgba(20, 190, 51, 1) 0%, rgba(26, 182, 8, 1) 100%);
    color: #fff;
  }
}

snack-bar-container {
  &.warn {
    background: rgb(235, 140, 57);
    background: linear-gradient(90deg, rgba(235, 140, 57, 1) 0%, rgba(214, 118, 28, 1) 100%);
    color: #FFFFFF;
  }
}

snack-bar-container {
  &.wrong {
    background: rgb(235, 57, 57);
    background: linear-gradient(90deg, rgba(235, 57, 57, 1) 0%, rgba(214, 49, 28, 1) 100%);
    color: #fff;
  }
}
